apimatic-core==0.2.18
apimatic-core-interfaces==0.1.6
apimatic-requests-client-adapter==0.1.7
asgiref==3.8.1
CacheControl==0.12.14
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.0
defusedxml==0.8.0rc2
deprecation==2.1.0
Django
django-appconf
django-compressor
django-cors-headers
django-filter
django-imagekit
django-robots
django_sitemaps
djangorestframework
djangorestframework_simplejwt
djoser
idna==3.10
jsonpickle==3.3.0
jsonpointer==2.4
lxml==5.3.1
msgpack==1.1.0
mysqlclient
oauthlib==3.2.2
packaging==24.2
pilkit
pillow
pycparser
PyJWT
python-dateutil
python3-openid
rcssmin
requests
requests-oauthlib
rjsmin
six
social-auth-app-django
social-auth-core
sqlparse
urllib3
