apimatic-core==0.2.18
apimatic-core-interfaces==0.1.6
apimatic-requests-client-adapter==0.1.7
asgiref==3.8.1
CacheControl==0.12.14
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.0
defusedxml==0.8.0rc2
deprecation==2.1.0
Django==5.0.3
django-appconf==1.1.0
django-compressor==4.5.1
django-cors-headers==4.6.0
django-filter==25.1
django-imagekit==5.0.0
django-robots==6.1
django_sitemaps==2.0.1
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
djoser==2.3.1
idna==3.10
jsonpickle==3.3.0
jsonpointer==2.4
lxml==5.3.1
msgpack==1.1.0
mysqlclient==2.2.7
oauthlib==3.2.2
packaging==24.2
pilkit==3.0
pillow==11.1.0
pycparser==2.22
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python3-openid==3.2.0
rcssmin==1.1.2
requests==2.32.3
requests-oauthlib==2.0.0
rjsmin==1.2.2
six==1.17.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.5.3
urllib3==2.3.0
