{% extends 'base.html' %}
{% load static %}
{% block title %} ⏐ User{% endblock %}
{% block description %}{{ seo_data.head_description}}{% endblock %}
{% block keywords %}{{ seo_data.head_keyword}}{% endblock %}
{% block content %}

<script>
    async function fetchData() {
        const apiUrl = '/api/user/';
        const token = localStorage.getItem('Token');
        if (!token) {
            window.location.href = "/login/";
        }
        try {
            const response = await fetch(apiUrl, {
                method: 'GET',
                headers: {
                    'Authorization': 'Token ' + localStorage.getItem("Token"),
                    'Content-Type': 'application/json'
                }
            });

            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }

            const data = await response.json();
            displayData(data);
        } catch (error) {
            console.error('Error fetching data:', error);
            displayError('Failed to fetch data. Please try again later.');
        }
    }

    function displayData(data) {
        const container = document.getElementById('data-container');
        container.innerHTML = ''; // Clear previous content

        // Ensure data is an object
        if (data && typeof data === "object") {
            const dataElement = document.createElement('div');
            dataElement.classList.add('data-user');

            const userSubscription = document.createElement('h3');
            userSubscription.textContent = "Username : " + data.user_subscription;
            dataElement.appendChild(userSubscription);

            const modePass = document.createElement('h3');
            modePass.textContent = "Modepass : " + data.modepass_subscription;
            dataElement.appendChild(modePass);

            const startDate = document.createElement('h3');
            startDate.textContent = "Start Date : " + data.start_date;
            dataElement.appendChild(startDate);

            const endDate = document.createElement('h3');
            endDate.textContent = "End Date : " + data.end_date;
            dataElement.appendChild(endDate);

            container.appendChild(dataElement);
        } else {
            displayError('No data available.');
        }
    }
    function displayError(message) {
        const container = document.getElementById('data-container');
        container.innerHTML = `<div style="color: red;">Failed to fetch data.<br> <p style = 'color:white;'>Please wait a few minutes after payment to access your subscription.</p> </div>`;
    }

    window.onload = fetchData;
    
</script>
<section class="login-box content-overlay">
    <h1 style="color: rgb(190, 38, 38);"> Your Subscription</h1>
    <div id="data-container" style="color: white;"></div>
</section>
{% endblock %}
