:root {
	--fontFamily: "League Spartan", sans-serif;
	--metalFont: "Metal Mania", system-ui;
	--AmazFont: "AmazMegaGrungeOne";
	--primaryColor: #C90E0E;
	--secondaryColor: #0A0102;
	--whiteColor: #ffffff;
	--blackColor: #000000;
	--dangerColor: #dc3545;
	--paragraphColor: #6A5D5E;
	--borderColor: #E7E9EB;
	--primaryDiv: #FA2E41;
	--goldenColor: #F2E394;
	--gondolaColor2: #201516;
	--grayColor1: #D0D0D0;
	--grayColor2: #F4F4F4;
	--grayColor3: #F8F6EF;
	--grayColor4: #EDEDED;
	--grayColor5: #E1E9E6;
	--greyTeal: #6A9C89 ;
	--silver: #C0C0C0;
	--boxShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	--fontSize-12: 12px;
	--fontSize-13: 13px;
	--fontSize-14: 14px;
	--fontSize-15: 15px;
	--fontSize-16: 16px;
	--fontSize-17: 17px;
	--fontSize-18: 18px;
	--borderRadius-4: 4px;
	--fontSize: 16px;
	--transition: all ease 0.5s;
  }
  
  /* Global Area Style
  ============================================*/
  body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "League Spartan", serif;
  }
  
  a {
	transition: var(--transition);
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: clamp(1.2, 3vw, 1.5);
}

p {
    line-height: clamp(1.5, 3vw, 1.8);
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}
  p:last-child {
	margin-bottom: 0;
  }
  
  img {
	max-width: 100%;
	height: auto;
  }
  .header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100002;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  border-radius: clamp(0px, 1.5vw, 20px);
  padding: clamp(7px, 1.5vw, 20px) clamp(5%, 3vw, 5%);
  box-shadow: 0px 0px 20px rgba(40, 38, 38, 0.1) inset, 
             -605.9px 605.9px 65.9px 0px rgba(36, 30, 30, 0.1) inset;
  backdrop-filter: blur(40px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: clamp(60px, 12vw, 90px);
}
.header-btn .btn{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 9em;
	height: 45px;
	border-radius: 8px;
	background: rgb(178, 27, 27);
}
.btn-header{
	padding: 15px 20px 15px 20px;
}
.header-btn .btn a{
	color: white;
	font-size:17px;
	font-weight: 600;
	text-decoration: none;
}
.header-list {
	display:flex;
    box-sizing: border-box;
    List-style: none;
    align-items: center;
    justify-content: space-between;
}
.header-list a{
	color: white;
	font-size: 20px;
	padding: 0 clamp(0.5em, 1vw, 1em);
	font-weight: 500;
	justify-content: space-between;
	text-decoration: none;
}
.header-logo img{
	height: auto;
	padding-left: 10%;
	padding-right: 1%;
}
.header-list a:hover{
	color: rgba(212, 12, 12, 0.863);
}
.header-logo{
	display:flex;

}
.header-logo p{
font-weight:  600;
color: #ffffff ;
}
header.header-overlay {
	position: relative;
	z-index: 100002; /* Higher than login form */
}
.content-overlay {
    position: absolute;
    top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100001; /* Higher than gallery z-index */
    width: 100%;
    text-align: center;
    color: white;
}

/* Content Styling */
.overlay-content {
	width: 100%;

}
.content-overlay .overlay-content h1{
	font-size: clamp(1em, 1.5vw, 2.5em);
	color:rgb(221, 190, 17);
	font-weight: 500;
}
/* Responsive Text Sizing */
.content-overlay h2 {
    color: white;
	font-size: clamp(2.3em, 5vw, 4em); 
	font-weight: 800;
	line-height: 1.2;

}

.content-overlay p {
    font-size: clamp(1em, 1.3vw, 1.5em);
    line-height: 1;
	opacity: 0.85;
}
.content-overlay span {
    font-size: clamp(1em, 1.3vw, 1.5em);
    margin-bottom: 1rem;
	line-height: 1.5;
	opacity: 0.85;
	padding: 15px;
}
.who-we-are{
	width: 100%;
	height:100%;
	background: var(--color-red-10, #201516);
	overflow: hidden;
	}
.who-we-are h2{
	color: white;
	font-size: clamp(1.5em,2.5vw, 3em);
	font-style: normal;
	font-weight: var(--font-weight-800, 800);
	line-height: var(--line-height-50_4, 50.4px);
}
.who-we-are-review{
	width: 100%;
	
}
.row .benefits-img .review{
	width: 130px;
	box-shadow: 0 5px 150px rgba(161, 154, 154, 0.598);
}
.who-we-are .pricing-carts{
	display: flex;
}
.who-we-are .pricing-carts .who-we-are-content{
	color: white;
	width: clamp(30em, 40vw, 50em);
	margin-top: clamp(2em,7vw, 10rem);
}
.who-we-are .pricing-carts .we-are-review{
	width: clamp(25em, 30vw, 40em);
	display: flex;
	
}
.who-we-are .pricing-carts .we-are-review .we-are-review-in{
	margin: 3rem  1rem;
	width: 23em;
	height: 120px;
	padding: 1.5rem;
	background: linear-gradient(45deg, #e5e4e2, #c0c0c0, #a8a9ad, #f5f5f5, #d6d7d9);
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 5px 130px rgba(152, 154, 156, 0.929);
}
.who-we-are-list{
	line-height: 1.6;
	font-size: clamp(1em, 1.5vw, 1.5em);
	list-style-type: none;
    gap: 5px; /* Space between icon and text */
}
i{
	font-size: 1.5rem;
	font-weight:700; 
	color: rgba(212, 12, 12, 0.863);
	padding-right: 0.5rem;
}
.our-content{
	margin: 5em 0 5em 0;
	justify-content: space-between;
}
.our-content-image{
	border-radius: 20px;
	width: clamp(30em, 50vw, 50em);
	height: auto;
	box-shadow: 0 5px 150px rgba(204, 33, 33, 0.598);
}
.our-content .our-content-text{
	color: white;
	width: clamp(25em, 40vw, 40em);
	margin-left: clamp(2em, 3vw, 10em);
	padding:4rem 1rem 0rem 1rem;
}
ul{
	list-style-type: none;
}

.who-we-are .benefits{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.benefits-content{
	max-width: 600px;
	margin-top: 5rem;
}
.benefits-contents{
	margin: 5rem 2rem 2rem 1rem;

}
.benefits-content .col-lg-6{
	max-width: 250px;
}
.fan-facet-wrap{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction:row;
    flex-wrap:wrap;
	height: 100%;
	max-width: 1300px;
	margin: 0 5rem 5rem 5rem;
	border-radius: 30px;
	background: rgba(195, 18, 18, 0.75);
   }
.fan-facet-wrap .fan-facet-single-item{
	padding: 1rem 3rem;
	text-align: center;
}
.fan-facet-wrap .fan-facet-single-item p{
	font-size: 15px;
	color: white;
}.fan-facet-wrap .fan-facet-single-item h2{
	font-size: 50px;
}
.pricing-carts{
	display: flex;
    align-items: center;
	justify-content: space-around;
    flex-direction:row;
    flex-wrap:wrap;

}
.price-card {
	width: 350px;
	padding: 1em;
	margin: 1rem;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	text-align: center;
	transition: transform 0.3s ease;
	color:white;
	box-shadow: 5px 5px 70px rgba(216, 97, 97, 0.3);
}
.price-card:hover {
	transform: translateY(-30px);
}
/* Metallic Texture Effect */
.price-card::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(
		45deg,
		transparent,
		transparent 10px,
		rgba(255,255,255,0.1) 10px,
		rgba(255,255,255,0.1) 20px
	);
	opacity: 0.3;
}

/* Shine Animation */
.price-card::before {
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}
.pricing-carts .price-card h1{
	font-size: 25px;
	margin-bottom: 0.6rem;
	text-shadow: 2px 2px 5px rgba(6, 6, 6, 0.4);

}
.pricing-carts .price-card h2{
	font-size: 20px;
	text-shadow: 2px 2px 5px rgba(6, 6, 6, 0.4);
}
.pricing-carts .price-card h3{
	font-size: 45px;
	color: #C90E0E;
	text-shadow: 2px 2px 5px rgba(6, 6, 6, 0.4);
}
.pricing-carts .pricing-list li{
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 2.2;
	font-size: 17px;
	font-weight: 500;
}
footer{
	padding: 0;
	margin: 0;
	position: relative;
	width: 100%;
	height:100%;
	background:url('/static/images/footer-shape.png');
	background-color: black;
	}
.footer-contents{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3rem 5rem 3rem 5rem;
	color: white;
	margin: 0;
}
.footer-content{
	display: block;
	width: 150px;
	padding: 3rem;
}
.footer-copywrite{
	margin-top: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	background: rgba(212, 12, 12, 0.863);
	color: white;
}
/* Add body height */
	.container {
		top: 0;
		left: 0;
		z-index: 100000;
		overflow: hidden;
		width: 100%;
		position: relative;
		
	}
	.container::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(2, 2, 2, 0.7); /* Dark overlay */
		z-index: 1;
	}

	.row {
		display: flex;
		width: 300%;
		margin: 0;
	}

	.scroller {
		display: flex;
		animation: scroll 50s linear infinite;
	}

	.reverse .scroller {
		animation-direction: reverse;
	}

	.scroller .image-box {
		width: 33.33vw;
		height: 33.33vh;
		margin: 0 ;
		overflow: hidden;
		
	}
	.scroller .image-box img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	@keyframes scroll {
		0% {
			transform: translateX(0);
		}
		25% {
			transform: translateX(-50%);
		}
		50% {
			transform: translateX(-100%);
		}
		75% {
			transform: translateX(-150%);
		}
		100% {
			transform: translateX(-200%);
		}
	}
	.box-our-content{
		padding-top: 5rem;
	  }
	.carousel-container {
		width: 100%;
		overflow: hidden;
		position: relative;
		display: flex;
		justify-content: center;
	  }
	
	  .carousel-track {
		display: flex;
		width: 100%;
		transition: transform 0.7s linear;
	  }
	
	  .carousel-track .image-box {
		flex: 0 0 auto;
		height: 400px;
		width: 300px;
		margin: 0 20px;
	  }
	
	  .carousel-track .image-box img {
		width: 100%;
		height: 100%;
		border-radius: 5px;
		object-fit: cover;
		opacity: 0.9;
	  }
	.channels-logo{
		padding-top: 2rem;
		display: flex;
		width: 100%;
		height: 70px;
		transition: transform 0s linear;
	}
	.channels-logo .channel-box{
		flex: 0 0 auto;
		margin: 0 30px;
	}
	.channels-logo .channel-box img{
		height: 50px;
		width: 190px;
		object-fit: cover;
		
	}
.login-box{
	position:absolute;
	z-index: 100001;
	right: 65vh;
	top: 53%;
	width: 300px;
	border: 2px solid rgba(255, 255, 255,.2);
	border-radius: 30px;
	color: white;
	box-shadow:0 0 30px rgba(40, 38, 38, 0.1) inset, -605.9px 605.9px 65.9px 0px rgba(36, 30, 30, 0.1) inset;
    backdrop-filter: blur(20px);
	padding: 30px 40px;

}
.login-text{
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	color:white;
}
 .input-box{
	position: relative;
	width: 100%;
	height: 55px;
	margin: 25px 25px 25px 0px;
}
.input-box input{
	position: relative;
	padding-left: 15px;
	width: 94%;
	height: 94%;
	padding-left: -10px;
	background:transparent;
	outline: none;
	border: 2px solid rgba(255, 255, 255,.2);
	border-radius: 28px;
	font-size:16px;
	color: white;
}
.input-box input::placeholder{
	color: #FFF;
}
.input-box i{
	position:absolute;
	padding-right: 15px;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 23px;
}
.login-box .btn{
	width: 100%;
	border-radius: 25px;
}
.remember-forgot{
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	margin: 10px;
}
.checkbox{
	margin:  0 10px 0;
}
.remember-forgot a{
	color: white;
	text-decoration: none;
}
.remember-forgot a:hover{
	color: white;
	text-decoration:underline;
}
.header-btn button{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:20px 0;
	background-color: #d21010;
	width: 100%;
	height: 45px;
	border-radius: 30px;
	color: white;
	font-size:20px;
	font-weight: 600;
}
.login-box .Register{
	display: flex;
	justify-content: center;
	align-items: center;
}
.Register a{
	color: white;
	text-decoration: none;
}
.Register a:hover{
	color: white;
	text-decoration:underline;
}
.btn {
	font-size: var(--fontSize-16);
	font-weight: 500;
	color: var(--whiteColor);
	padding: 0;
	transition: var(--transition);
	text-align: center;
	background-color: var(--primaryColor);
	position: relative;
	z-index: 1;
	overflow: hidden;
	border: none;
  }
  .btn::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to right, var(--whiteColor), transparent);
	width: 100%;
	height: 2px;
	opacity: 0;
	transition: var(--transition);
	animation: right 2s linear infinite;
  }
  .btn::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background: linear-gradient(to left, var(--whiteColor), transparent);
	width: 100%;
	height: 2px;
	opacity: 0;
	transition: var(--transition);
	animation: left 2s linear infinite;
  }
  .btsn .bosrder-style::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to top, var(--whiteColor), transparent);
	width: 2px;
	height: 100%;
	opacity: 0;
	transition: var(--transition);
	animation: top 2s linear infinite;
  }
  .btn .border-style::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	background: linear-gradient(to bottom, var(--whiteColor), transparent);
	width: 2px;
	height: 100%;
	opacity: 0;
	transition: var(--transition);
	animation: bottom 2s linear infinite;
  }
  .btn:hover {
	background-color: var(--secondaryColor) !important;
	color: var(--whiteColor) !important;
  }
  .btn:hover::before {
	animation: right 2s linear infinite;
	opacity: 1;
  }
  .btn:hover::after {
	animation: left 2s linear infinite;
	opacity: 1;
  }
  .btn:hover span::before {
	animation: top 2s linear infinite;
	animation-delay: 1s;
	opacity: 1;
  }
  .btn:hover span::after {
	animation: bottom 2s linear infinite;
	animation-delay: 1s;
	opacity: 1;
  }
  .btn.active {
	background-color: var(--secondaryColor);
	color: var(--whiteColor);
  }
  
  @keyframes left {
	0% {
	  transform: translateX(100%);
	}
	100% {
	  transform: translateX(-100%);
	}
  }
  @keyframes right {
	0% {
	  transform: translateX(-100%);
	}
	100% {
	  transform: translateX(100%);
	}
  }
  @keyframes top {
	0% {
	  transform: translateY(100%);
	}
	100% {
	  transform: translateY(-100%);
	}
  }
  @keyframes bottom {
	0% {
	  transform: translateY(-100%);
	}
	100% {
	  transform: translateY(100%);
	}
  }
  
  /* Benefits Area Style
  ============================================*/
  .benefits-area {
	--bs-bg-opacity: 1;
	background-color: #221516 !important;
  }
  
  .benefits-content {
	margin-top: 10px;
  }
  .benefits-content h2:last-child {
	margin-bottom: 0;
  }
  
  .benefits-single-item {
	margin-bottom: 50px;
  }
  .benefits-single-item i {
	font-size: 30px;
  }
  .benefits-single-item h3 {
	color: var(--whiteColor);
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 15px;
  }
  .benefits-single-item p {
	color: var(--silver);
	line-height: 1.6;
  }
  
  .benefits-img {
	margin-left: -160px;
	position: relative;
  }
  .benefits-img .review {
	max-width: 155px;
	background: linear-gradient(45deg, #e5e4e2, #c0c0c0, #a8a9ad, #f5f5f5, #d6d7d9);
	border-radius: 10px;
	text-align: center;
	padding: 25.5px 15px;
	position: absolute;
	bottom: 65px;
	left: 157px;
  }
  .benefits-img .review::before {
	content: "";
	position: absolute;
	top: -4px;
	left: 0;
	right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: linear-gradient(45deg, #e5e4e2, #c0c0c0, #a8a9ad, #f5f5f5, #d6d7d9);
	transform: rotate(-45deg);
  }
  .benefits-img .review::after {
	content: "";
	position: absolute;
	bottom: -4px;
	left: 0;
	right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: linear-gradient(45deg, #e5e4e2, #c0c0c0, #a8a9ad, #f5f5f5, #d6d7d9);
	transform: rotate(-45deg);
  }
  .benefits-img .review .review-in::before {
	content: "";
	position: absolute;
	top: 0;
	left: -4px;
	bottom: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: linear-gradient(45deg, #e5e4e2, #c0c0c0, #a8a9ad, #f5f5f5, #d6d7d9);
	transform: rotate(-45deg);
  }
  .benefits-img .review .review-in::after {
	content: "";
	position: absolute;
	top: 0;
	right: -4px;
	bottom: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: linear-gradient(45deg, #e5e4e2, #c0c0c0, #a8a9ad, #f5f5f5, #d6d7d9);
	transform: rotate(-45deg);
  }
  .benefits-img .review span {
	color:black;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 2.8px;
  }
  .benefits-img .review h2 {
	font-size: 40px;
	font-weight: 800;
	line-height: 50px;
	letter-spacing: -2px;
	margin-bottom: 0;
	color:black;
  }
  
  /* Max width 767px */
  @media only screen and (max-width: 767px) {
	.benefits-content h2 {
	  font-size: 30px;
	  margin-bottom: 25px;
	}
	.benefits-single-item {
	  margin-bottom: 25px;
	}
	.benefits-single-item h3 {
	  font-size: 22px;
	  margin-bottom: 10px;
	}
	.benefits-img {
	  margin-left: 0;
	  text-align: center;
	}
	.benefits-img .review {
	  left: 0;
	  bottom: 0;
	}
  }
  /* Min width 768px to Max width 992px */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.benefits-content h2 {
	  font-size: 35px;
	  margin-bottom: 30px;
	}
	.benefits-single-item {
	  margin-bottom: 25px;
	}
	.benefits-single-item h3 {
	  font-size: 22px;
	  margin-bottom: 10px;
	}
	.benefits-img {
	  margin-left: 0;
	  text-align: center;
	}
	.benefits-img .review {
	  left: 80px;
	  bottom: 0;
	}
  }
  /* Min width 992px to Max width 1199px */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.benefits-img {
	  margin-left: 0;
	  text-align: center;
	}
  }
@media (max-width: 600px) {
	.header-logo img{
		max-width: 100px;
	}
	.who-we-are .carousel-container .channels-logo{
		padding-top: 0rem;
	}
	.who-we-are .carousel-container .channels-logo .channel-box{
		flex: 0 0 auto;
		margin: 0 20px;
	}
	.who-we-are .carousel-container .channels-logo .channel-box img{
		height: 35px;
		width: 130px;
	}
	.who-we-are div h2{
		font-size: var(--font-size-42, 32px);
		padding: 0em 0.5em 0em 0.5em;
	}
	.who-we-are .enjoy{
		margin: 3rem 0 ;
	  }
	.who-we-are .box-our-content{
		padding: 0 45px;
		margin: 3rem 0 ;
	  }
	.benefits-content{
		margin-top: 5rem;
	}
	.benefits-contents .benefits-content .col-lg-6 i{
		font-size: 1.7em;
	}
	.benefits-contents .benefits-content .col-lg-6 {
		line-height: 0.2;
	}
	.who-we-are .pricing-carts .fan-facet-wrap{
		height: 300px;
		border-radius: 20px;
		line-height: 0;
		margin: 0 1rem 3rem 1rem;
	   }
	.who-we-are .pricing-carts .fan-facet-wrap .fan-facet-single-item{
		padding: 0;
	}
	.who-we-are .pricing-carts .fan-facet-wrap .fan-facet-single-item h2{
		line-height: 0;
		font-size: 40px;
	}
	.who-we-are .pricing-carts .fan-facet-wrap .fan-facet-single-item p{
		line-height: 0;
		font-size: 10px;
	}
	footer .footer-content{
		width: 100rem;
		padding: 1.5rem 3rem;
	}
	.login-box{
		padding: 1.5rem;
	}
}
@media (max-width: 760px) {
	.container .row .scroller .image-box {
		width: 100vw;
	}
}
@media (min-width: 761px)and (max-width: 1200px) {
	.container .row .scroller .image-box {
		width: 50vw;
	}
}
@media (min-width: 1201px){
	.container .row .scroller .image-box {
		width: 33.33vw;
	}
	.who-we-are .pricing-carts .fan-facet-wrap{
		height: 15rem;
	}
}
@media (min-width: 601px) and (max-width: 900px) {
	.who-we-are .pricing-carts .fan-facet-wrap{
		height: 300px;
		line-height: 0;
		margin: 0 1rem 3rem 1rem;
	   }
	.who-we-are .pricing-carts .fan-facet-wrap .fan-facet-single-item h2{
		line-height: 0;
		font-size: 3em;
	}
	.who-we-are .pricing-carts .fan-facet-wrap .fan-facet-single-item p{
		line-height: 0;
	}
	.footer-content{
		height: 45px;
	}
}
@media (min-width: 901px) and (max-width: 1050px) {
	.content-overlay {
		top: 50%;
	}
}
@media (min-width: 1352px){
	.benef {
		padding-left: 3rem;
	}
}
@media (min-width: 1801px){
}
@media (min-width: 1000px){
	.who-we-are .pricing-carts .we-are-review{
		padding-left: clamp(5em, 7vw, 10em);
	}
	.who-we-are .fan-facet-wrap{
		height: 300px;
		line-height: 0;
		margin: 0 1rem 3rem 1rem;
	   }
	.who-we-are .fan-facet-wrap .fan-facet-single-item h2{
		line-height: 0;
		font-size: 3em;
	}
	.who-we-are .fan-facet-wrap .fan-facet-single-item p{
		line-height: 0;
	}
	.footer-content{
		height: 45px;
	}
}
